<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Maciej's Personal Site</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tbody><tr>
        <td><img src="static/maciej.jpg" width=100 alt="Maciej profile picture"></td>
        <td><h1>Maciej Kubat</h1>
        <p><em>Aspiring Python developer</em></p>
        <p>I am an begginer Python developer. I ❤️ coffee.</p></td>
      </tr>
    </tbody></table>
    <hr>
    <h3>Certification</h3>
    <ul>
      <li>AWS Solutions Architect Associate</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2020-2022</td>
          <td>Security Engineer at William Hill</td>
        </tr>
        <tr>
          <td>2022-2023</td>
          <td>DevOps Engineer at Sperasoft</td>
        </tr>
        <tr>
          <td>2023-2025</td>
          <td>Devops Engineer at Kaseya</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tbody>
      <tr>
        <td>Web Development</td>
        <td>⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️</td>
      </tr>
    </tbody></table>
    <hr>
    <a href="">My Hobbies</a>
    <a href="">Contact Me</a>
  

</body></html>